@keyframes bounce{
  from { top: 650px;}
  to{ top: 700px;}
}
@keyframes flashing{
  0% { color: red;} 
  14% { color: orange;} 
  28% { color: yellow;} 
  42% { color: green;} 
  56% { color: blue;} 
  70% { color: violet;} 
  100% { color: purple;} 
}
@keyframes Grow{
  0%{height: 100px;}
  5%{height: 101px;}
  10%{height: 102px;}
  15%{height: 103px;}
  20%{height: 104px;}
  25%{height: 105px;}
  30%{height: 106px;}
  35%{height: 107px;}
  40%{height: 108px;}
  45%{height: 109px;}
  50%{height: 110px;}
  55%{height: 111px;}
  60%{height: 112px;}
  65%{height: 113px;}
  70%{height: 114px;}
  75%{height: 115px;}
  80%{height: 116px;}
  85%{height: 117px;}
  90%{height: 118px;}
  95%{height: 119px;}
  100%{height: 120px;}
}

/* ----------------------------------------------------- */

/* *{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */

html{
  background-image: linear-gradient(to bottom, #3399ff 0%, #99ffcc 100%);
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200%;
  /* min-height: 100%; */

  max-height: 200%;
  scroll-behavior: smooth;

  /* overflow: hidden; */
}

body{
  margin: 0;
  /* overflow: hidden; */
  font-family: "Lucida Console", Courier, monospace;
}
  <h2>More About Me!</h2>
    <hr>
    <p>
      Hi I'm Sean, I am a student that is new to the programming world!<br> I like to think that I'm a nerd in the tech world!<br> I love learning about tech, you can talk about tech with me all day long! I have some project that I am working on, if you would like to check them out. Head over to my <a href="./download.html">download</a> page!
    </p>
.base{
  /* width: 50%; */
  /*margin: auto; */
  /* font-family: "Comic Sans MS", cursive, sans-serif	; */
}

/* .flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */

/* -------------------------------- */

#mainNav{
  background: lightgrey;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 130px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

}
#mainNav #topLogo{
  height: 100px;
  margin: 0px;
  align-items: center;
}
#mainNav #topLogo:hover{
  animation-name: Grow;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; 
}
#mainNav ul{
  
}
#mainNav li{
  display: inline;
  padding: 0px 10px;
}
#mainNav a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}
#mainNav a:hover{
  color: white;
}

/* ---------------------------------- */

#landingPage{
  text-align: center;
  font-size: 50px;
  /* margin-top: 220px; */
  margin: 0;
  position: absolute;
  top: 50%;
  /* left: 50%; */
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
#landingPage h1, h3{
  text-shadow: 3px 5px white;
}
#landingPage hr{
  width: 70%;
  height: 2px;
  color: black;
  border-style: solid;
  background: black;
  border-radius: 100px;
}

/* --------------------------------------------- */

#pointingDown{
  /* border: blue solid; */
}

.arrow{
  border: solid black;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  position: relative;
  left: 50%;
  /* top: 700px; */
  bottom: -700px;
  right: 50%;

  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  
}
.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  
} 

 /* ---------------------------------------------------------- */

#more{
  /* margin: auto; */
  /* margin-top: 1100px; */
  /* margin-bottom: 250px; */
  /* display: flex; */
  text-align: center;
  /* justify-content: center; */

  /* top: 100%; */
  /* max-width: 70%; */
  /* bottom: -100%; */
  
  
  font-size: 40px;
  
  /* position: relative; */
  text-shadow: 4px 4px white;
  margin-top: 70%;
}
#more h2{
  font-size: 50px;
}
/* #more p{
  width: 70%;
  margin: auto;
} */
#more hr{
  width: 40%;
  height: 2px;
  border-style: solid;
  background: black;
}
#more a{
  text-decoration: none;
  animation-name: flashing;
  animation-duration: 4s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}

#more p{
  /* width: 70% ; */
  /* text-align: center; */
  /* left: 50%; */
  /* right: 50%; */
  /* justify-content: center; */
  /* margin-left: auto; */
  /* margin-right: auto; */


}

/* #more a:hover{ */
  /* color: white; */
/* } */

/* ----------------------------------------------------------------------- */

#mainFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: lightgrey;
  padding: 10px 0px;
  bottom: -100%;
  width: 100%;
}

/* ________________________________________________________________________________ */
/* ________________________________________________________________________________ */

@media (max-width: 600px){


  #mainNav{
    min-height: 50px;
  }
  #mainNav #topLogo{
    height: 50px;
  }
  #mainNav a{
    font-size: 1em;
  }
  #mainNav #topLogo:hover{
    animation-name: none;
  }


  #landingPage{
    font-size: 2.5em;
  }
  #landingPage hr{
    height: 0.05em;
  }

  .arrow{

  }

  #more{
    font-size: 2em;
    margin-top: 25em;
    margin-bottom: 3em;
  }
  #more h2{
    font-size: 1em;
  }
  #more p{
    font-size: 0.7em;
  }

  #mainFooter{
    
  }
}